* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    background-color: #7a7d7d;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto; 
    background-color: #f4f4f4;
    padding: 25px;

}

main {
    padding: 25px 10px;
  }

header {
    text-align: center;
    position: relative;
}

header div {
    padding-bottom: 15px;
    border-bottom: 1px solid #34343f;
}

footer {
    position: relative;
    text-align: center;
}

footer div {
    position: relative;
    padding-top: 15px;
    border-top: 1px solid #34343f;

}

nav {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width:fit-content;
}

@media (min-width: 525px) {
    img.headshot {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #eaa59a;
        object-fit: cover;
        float: left;
        margin: 25px 25px 25px 25px;  
    }

    main div.image {
        float: right;
        clear: right;
        margin: 0px 0px 0px 15px;
        width: 155px;
    }

    img.cats {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid #eaa59a;
        object-fit: cover;
    }
}
@media (max-width: 524px) {
    img.headshot {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #eaa59a;
        object-fit: cover;
        margin: 25px 25px 25px 25px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main div.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        text-align: center;
    }

    img.cats {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #eaa59a;
        object-fit: cover;
        clear:right;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif;
    background-color:none;
}

a.nav:link, a.nav:visited {
    color: #34343f;
    text-decoration: none;
    display: inline-block;
    padding: 5px 14px;
    transition: all 0.5s ease;
}

a.navcurrent:link, a.navcurrent:visited, a.navcurrent:hover {
    color: #7a7d7d
    text-decoration: none;
    display: inline-block;
    padding: 5px 14px;
    background-color: white;
}

a.nav:hover {
    color: #34343f;
    background-color: #eaa59a;
    text-decoration: none;
}
a:link, a:visited {
    color: #7a7d7d;
    text-decoration: none;
}

a:hover {
    color: #7a7d7d;
    text-decoration: none;  
}







.clearfix {
    overflow: auto;
  }